* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

.background {
    background-color:lightcoral;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color:antiquewhite;
    text-align: center;
    font-size: 50px;
    margin-top: 10%;
}

.display {
    color:bisque;
    font-size: 20px;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

.game-board {
    width: 340px;
    height: 400px;
    border: solid black 2px;
}

.playerX {
    color: blue;
}

.player0 {
    color: red;
}

.controls {
    align-items: center;
}

#reset {
    color: chartreuse;
    background-color: black;
    font-size: large;
}